<section *ngIf="orphanage$ | async as orphanage; else loading" id="orphanage" >

    <!-- Image principal vai ser trocada relativamente ao index das imagens clicadas -->
    <div class="block images-box">
      <div class="orphanage-images">
        <img src="{{ orphanage.orphanage_images[imgActive].url }}" alt="{{ orphanage.name }}" class="img-active">
        <img
          *ngFor="let image of orphanage.orphanage_images; index as i"
          src="{{ image.url }}"
          alt="{{ orphanage.name }}"
          (click)="imgActive = i"
          class="img"
          [class.active]="imgActive === i"
        >
      </div>
    </div>

    <div class="block">
      <h1>{{ orphanage.name }}</h1>
      <p>{{ orphanage.orphanage_data.about}}</p>
    </div>

    <div class="block">
      <div class="map-routes">
        <div
        id="map"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="mapOptions"
        ></div>
        <a target="_blank" rel="noopener noreferrer" href='https://www.google.com/maps/dir/?api=1&destination={{ orphanage.orphanage_data.latitude }},{{ orphanage.orphanage_data.longitude }}'>Ver rotas no Google Maps</a>
      </div>
    </div>

    <div class="block"><span class="division"></span></div>

    <div class="block">
      <h2>Instruções para visita</h2>
      <p>{{ orphanage.orphanage_visits.instructions }}</p>
    </div>

    <div class="block orphanage-infos">
        <div class="card  openning-hours">
          <img src="../../../assets/icons/clock.svg" alt="openning-hours">
          <h2>{{ orphanage.orphanage_visits.opening_hours }}</h2>
        </div>

        <div *ngIf="orphanage.orphanage_visits.open_on_weekend; else orphanageClosed" class="card  open-on-weekends">
          <img src="../../../assets/icons/alert-green.svg" alt="orphanage-open">
          <h2>Atendemos fim de semana</h2>
        </div>

        <ng-template #orphanageClosed>
          <div class="card  close-on-weekends">
            <img src="../../../assets/icons/alert-red.svg" alt="orphanage-closed">
            <h2>Não atendemos fim de semana</h2>
          </div>
        </ng-template>

    </div>

    <div class="block">
      <a class="btn contact" href="https://api.whatsapp.com/send?phone={{ orphanage.orphanage_data.phone }}" target="_blank">
        <img src="../../../assets/icons/whatsapp.svg" alt="contato"> Entrar em contato
      </a>
    </div>


</section>

<ng-template #loading>
  <div>Carregando...</div>
</ng-template>
