<section id="orphanage">

    <!-- <div class="block images-box">
      <img src="../../../assets/orphanages-images/img (1).jpg" alt="happy">
      <img src="../../../assets/orphanages-images/img (2).jpg" alt="happy">
      <img src="../../../assets/orphanages-images/img (3).jpg" alt="happy">
      <img src="../../../assets/orphanages-images/img (4).jpg" alt="happy">
      <img src="../../../assets/orphanages-images/img (5).jpg" alt="happy">
      <img src="../../../assets/orphanages-images/img (6).jpg" alt="happy">
    </div> -->

    <div class="block">
      <h1>Orfanato Esperança</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti adipisci rem quasi odio.
        Odio facere eos delectus harum nemo tempora eveniet quae suscipit
        perferendis. Eum pariatur harum excepturi esse veniam.</p>
    </div>

    <div class="block">
      <div class="map-routes">
        <div class="map"></div>
        <button type="button">Ver rotas no Google Maps</button>
      </div>
    </div>

    <div class="block"><span class="division"></span></div>

    <div class="block">
      <h2>Instruções para visita</h2>
      <p>Venha e se sinta a vontade para dar muito amor e carinho.</p>
    </div>

    <div class="block orphanage-infos">
        <div class="card  openning-hours">
          <img src="../../../assets/icons/clock.svg" alt="openning-hours">
          <h2>Segunda à Sexta: 8h às 18h</h2>
        </div>

        <div class="card  open-on-weekends">
          <img src="../../../assets/icons/alert-green.svg" alt="orphanage-open">
          <h2>Atendemos fim de semana</h2>
        </div>

        <div class="card  close-on-weekends" [style.display]="'none'">
          <img src="../../../assets/icons/alert-red.svg" alt="orphanage-closed">
          <h2>Não atendemos fim de semana</h2>
        </div>
    </div>


    <div class="block">
      <button type="button" class="btn contact">
        <img src="../../../assets/icons/whatsapp.svg" alt="contato"> Entrar em contato
      </button>
    </div>


</section>
