<section id="add-orphanage">
  <form [formGroup]='formulario'  (ngSubmit)="onSubmit()">

    <legend><h1>Dados</h1></legend>

    <!-- NAME -->
    <div class="form-control">
      <label for="name">Nome</label>
      <input type="text" formControlName="name" id="name" aria-required="true" />
    </div>

    <fieldset formGroupName="orphanage_data">

      <!-- ABOUT -->
      <div class="form-control">
        <label for="about">Sobre</label><small>Máximo de 300 carácteres</small>
        <textarea formControlName="about" id="about" rows="3" aria-required="true"></textarea>
      </div>

      <!-- PHONE -->
      <div class="form-control">
        <label for="phone">Número de WhatsApp</label>
        <input type="tel" formControlName="phone" id="phone" aria-required="true"/>
      </div>

      <!-- LATITUDE LONGITUDE -->
      <div class="form-control">
        <div class="map-routes">
          <div class="map"></div>
          <button type="button">Ver rotas no Google Maps</button>
        </div>
      </div>

      <div class="form-control  upload-images">
        <label for="images" class="label-only">Fotos</label>

        <!-- Botão de adicionar imagem e o container para os previews das imagens -->
        <div class="uploads-container">
          <div *ngFor="let imagePreview of imagesPreview; index as i" class="upload-item">
            <button class="remove-item" (click)="removeImage(i)"><fa-icon [icon]="faTimes"></fa-icon></button>
            <img [src]="imagePreview" alt="upload-img">
          </div>

          <label for="images" class="add-images btn"><fa-icon [icon]="faPlus"></fa-icon></label>
        </div>

        <input
          type="file"
          accept="image/*"
          id="images"
          required
          aria-required="true"
          multiple
          #images
          (change)="onChange(images.files)"
        />

      </div>
    </fieldset>

    <fieldset formGroupName="orphanage_visits">
      <legend><h1>Visitas</h1></legend>

      <div class="form-control">
        <label for="instructions">Instruções</label>
        <textarea formControlName="instructions" id="instructions" rows="3" aria-required="true"></textarea>
      </div>

      <div class="form-control">
        <label for="openning_hours">Horário de visitas</label>
        <input type="text" formControlName="openning_hours" id="openning_hours" aria-required="true" />
      </div>

      <div class="form-control open_on_weekends">
        <label for="open_on_weekends">Atende final de semana?</label>
        <input type="checkbox" formControlName="open_on_weekends" id="open_on_weekends" aria-required="true" />
        <label for="open_on_weekends" class="label-button"><span></span></label>
      </div>
    </fieldset>


    <button type="submit" class="btn on-submit" [disabled]="!formulario.valid">
      Confirmar
    </button>

  </form>


  <!-- DEBUG -->
  <div style="margin-top: 20px">
    <h1>
      Detalhes do form
    </h1>

    <pre>
      Form válido: {{ formulario.valid }}
    </pre>

    <pre>
      Valores: <br>: {{ formulario.value | json }}
    </pre>
  </div>

</section>
