@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-base);
}

body, input, button, textarea {
  font: 600 clamp(0.8rem, 2.5vw, 1.2rem) Nunito, sans-serif;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  padding: 1rem;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }
}
