$dark-background: #252626;
$dark-lines:      #626466;
$dark-inputs:     #4A4B4D;
$dark-shapes:     #313233;

$light-background:#EBF2F5;
$light-lines:     #D3E2E5;
$light-inputs:    #F5F8FA;
$light-shapes:    #FFFFFF;

$text-light-blue:  #0089A5;
$text-light-title: #4D6F80;
$text-light-base:  #5C8599;
$text-light-complements: #8FA7B2;

$text-dark-blue:  #15C3D6;
$text-dark-title: #D6E2E8;
$text-dark-base:  #AABFCA;
$text-dark-complements: #CBD6DC;

$red:     #EB1D28;
$green:   #37C77F;
$blue:    #15C3D6;
$yellow:  #FFD666;

$low-red:    #FFE4EE;
$low-green:  #EDFFF6;
$low-blue:   #D1EDF2;

:root {
  // Paleta

  --gradient: linear-gradient(330deg, #29B6D1 0%, #00C7C7 100%);

  --background: #{$light-background};
  --lines:      #{$light-lines};
  --inputs:     #{$light-inputs};
  --shapes:     #{$light-shapes};

  --text-white: #FFFFFF;
  --text-blue:  #{$text-light-blue};
  --text-title: #{$text-light-title};
  --text-base:  #{$text-light-base};
  --text-complements: #{$text-light-complements};

  --low-red:    #{$low-red};
  --low-green:  #{$low-green};
  --low-blue:   #{$low-blue};

  --red:     #{$red};
  --green:   #{$green};
  --blue:    #{$blue};
  --yellow:  #{$yellow};

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-base);
}

body, input, button, textarea {
  font: 600 clamp(0.8rem, 2.5vw, 1.2rem) Nunito, sans-serif;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  padding: 1rem;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }
}
